@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-6px);
  transition:
    max-height 0.45s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}

.faq-item.active .faq-content {
  max-height: 400px;
  opacity: 1;
  transform: translateY(0);
}

.faq-icon {
  transition: transform 0.35s cubic-bezier(.4,0,.2,1);
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}


  .faq-item.active .icon-wrapper {
    background-color: #a2f0b6; /* green-500 */
  }

  .faq-item.active .icon-wrapper svg {
    color: white;
  }

  .faq-item.active .faq-icon {
    transform: rotate(180deg);
  }
